body{
  background-color: #fff2f2;
  font-family: Georgia;
  text-align: center;
}
img{
  display: block;
  margin: auto;
}
h1{

  font-size: 50px;
}
.col-md-3 ol{
  text-align: left;
}
.col-md-3 img{
  width: 100px;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;

}
#mySidenav{
  background-color: #f9cccc;
  float: left;
  width: 12%;
  padding-bottom: 26%;
  padding-top: 20px;
  padding-left: 30px;
  position: fixed;
  /*padding-right: 40px;*/
}
#mySidenav img{
  float: left;
  padding-right: 30px;
  padding-bottom: 8px;
}
#nameContainer{
  /*width: 90%;*/
  text-align: center;
  /*margin-left: 40px;*/
}
#projGrid{
  /*padding-right: 30px;*/
  float: center;
  padding-top: 20px;
  /*align-self: end;*/
}
