body{
  background-color: #fff2f2;
  font-family: Georgia;
  text-align: center;
}
img{
  display: block;
  margin: auto;
  border-radius: 5%;
}
h1{

  font-size: 50px;
}
.col-lg-6 ul{
  text-align: left;
}
.col-md-3 ol{
  text-align: left;
}
.col-md-3 img{
  width: 100px;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.jumbotron{
  background-color: #e8cece;
}
#epi1 p{
  padding-right: 50px;
  padding-left: 50px;
}
#mySidenav{
  background-color: #f9cccc;
  float: left;
  width: 12%;
  padding-bottom: 26%;
  padding-top: 20px;
  padding-left: 30px;
  position: fixed;
  text-align: left;
  /*padding-right: 40px;*/
}
#mySidenav img{
  float: left;
  padding-right: 30px;
  padding-bottom: 8px;
}
#nameContainer{
  /*width: 90%;*/
  text-align: center;
  /*margin-left: 40px;*/
}
#projGrid{
  /*padding-right: 30px;*/
  float: center;
  padding-top: 20px;
  /*align-self: end;*/
}
#a img{
  border-radius: 10%;
}
